{%  load static %}

<footer>
    <div class="container-footer">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">loja</a></li>
            <li><a href="">Contato</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
        <ul>
            <li><a href="">FAQ</a></li>
            <li><a href="">Envios e Devoluções</a></li>
            <li><a href="">Política da Loja</a></li>
            <li><a href="">Pagamentos</a></li>
        </ul>
        <ul>
            <li><a href="">jaquelinerodrigues@gmail.com</a></li>
            <li>Rua Principal S/N</li>
            <li>Imperatriz-MA - 65909-001</li>
            <li>Tel: (99) 981126621</li>
        </ul>
        <h5>Jaqueline Rodrigues</h5>
    </div>
</footer>