{% load static %}

<header>
    <h1 id="tituo-h1-principal">Jaqueline Rodrigues</h1>
    <nav>
        <ul>
            <div class="itens-navbar">
                <li><a href="{% url 'roupas:home' %}">Home</a></li>
                <li><a href="{% url 'roupas:produtos'%}">Produtos</a></li>
            </div>
            <li class="canto-direito-navbar-login">
                <a href="{% url 'usuarios:login' %}"><span class="material-symbols-outlined">account_circle</span></a>
            </li>
            <li class="canto-direito-navbar-carrinho">
                <a href="{% url 'carrinho:carrinho_detalhado' %}"><span class="material-symbols-outlined">shopping_cart</span></a>
            </li>
        </ul>
    </nav>
</header>