{%  load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaqueline Rodrigues</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Jaqueline Rodrigues</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="roupas.html">Loja</a></li>
                <li><a href="Contatos.html">Contato</a></li>
                <li><a href="Login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>