{%  load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaqueline Rodrigues</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\home.css">
</head>
<body>
    <header>
        <h1>Jaqueline Rodrigues</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="roupas.html">Loja</a></li>
                <li><a href="Contatos.html">Contato</a></li>
                <li><a href="Login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="subtitulo">
            <p id="subtitulo-p1">Viva intensamente.</p>
        </div>
        <section class="coluna-1">
            <div class="produto-1">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\foto-1-loja.jpg" alt="">
                <!-- <img src="{% static 'imgs\foto-1-loja.jpg' %}" alt=""> -->
                <div class="descricao-produto">
                    <p>Descrição curta</p>
                    <p>R$ 89,90</p>
                </div>
            </div>
            <div class="produto-2">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\foto-1-loja.jpg" alt="">
                <!-- <img src="{% static 'imgs\foto-1-loja.jpg' %}" alt=""> -->
                <div class="descricao-produto">
                    <p>Descrição curta</p>
                    <p>R$ 89,90</p>
                </div>
            </div>
        </section>
        <section class="coluna-2">
            <div class="produto-3">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\foto-4-loja.jpg" alt="">
                <!-- <img src="{% static 'imgs\foto-1-loja.jpg' %}" alt=""> -->
                <div class="descricao-produto">
                    <p>Descrição curta</p>
                    <p>R$ 89,90</p>
                </div>
            </div>
            <div class="produto-4">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\foto-3-loja.jpg" alt="">
                <!-- <img src="{% static 'imgs\foto-1-loja.jpg' %}" alt=""> -->
                <div class="descricao-produto">
                    <p>Descrição curta</p>
                    <p>R$ 89,90</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <h5>Jaqueline Rodrigues</h5>
    </footer>
</body>
</html>