{%  load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaqueline Rodrigues</title>
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Roboto+Mono:wght@200&family=Smooch&family=Darker+Grotesque:wght@300&family=Rubik:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\home-edicao.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body id="bodyconf">
    <header>
        <h1 id="tituo-h1-principal">Jaqueline Rodrigues</h1>
        <nav>
            <ul>
                <div class="itens-navbar">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="loja.html">Loja</a></li>
                    <li><a href="contato.html">Contato</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                </div>
                <li class="canto-direito-navbar-login">
                    <a href="login.html"><span class="material-symbols-outlined">account_circle</span></a>
                </li>
                <li class="canto-direito-navbar-carrinho">
                    <a href="carrinho.html"><span class="material-symbols-outlined">shopping_cart</span></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="subtitulo">
            <div class="categorias">
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active" aria-current="true" disabled>
                    Categorias
                    </button>
                    <div class="submenu-categorias">
                        <button type="button" class="list-group-item list-group-item-action">Blusas</button>
                        <button type="button" class="list-group-item list-group-item-action">Calças</button>
                        <button type="button" class="list-group-item list-group-item-action">T-shirts</button>
                        <button type="button" class="list-group-item list-group-item-action">Saias</button>
                    </div>
                </div>
            </div>
        </div>
        <section class="container-produtos">
            <div class="produto-do-estoque">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\produto-estoque-01.jpg" alt="">
                <div class="descricao-produto-loja">
                    <p>Gola alta branca florida</p>
                    <p>R$ 89,90</p>
                    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>
                </div>
            </div>
            <div class="produto-do-estoque">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\produto-estoque-02.jpg" alt="">
                <div class="descricao-produto-loja">
                    <p>Gola alta branca Coffee</p>
                    <p>R$ 89,90</p>
                    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>
                </div>
            </div>
            <div class="produto-do-estoque">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\produto-estoque-01.jpg" alt="">
                <div class="descricao-produto-loja">
                    <p>Gola alta branca florida</p>
                    <p>R$ 89,90</p>
                    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>
                </div>
            </div>
            <div class="produto-do-estoque">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\produto-estoque-01.jpg" alt="">
                <div class="descricao-produto-loja">
                    <p>Gola alta branca florida</p>
                    <p>R$ 89,90</p>
                    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>
                </div>
            </div>
            <div class="produto-do-estoque">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\produto-estoque-01.jpg" alt="">
                <div class="descricao-produto-loja">
                    <p>Gola alta branca florida</p>
                    <p>R$ 89,90</p>
                    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>
                </div>
            </div>
            <div class="produto-do-estoque">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\produto-estoque-01.jpg" alt="">
                <div class="descricao-produto-loja">
                    <p>Gola alta branca florida</p>
                    <p>R$ 89,90</p>
                    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>
                </div>
            </div>
            <div class="produto-do-estoque">
                <img src="D:\Suenilton\Pessoal\Projetos Python\Projeto loja jaqueline\loja_de_roupas\static\imgs\produto-estoque-01.jpg" alt="">
                <div class="descricao-produto-loja">
                    <p>Gola alta branca florida</p>
                    <p>R$ 89,90</p>
                    <button type="button" class="btn btn-primary">Adicionar ao carrinho</button>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container-footer">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">loja</a></li>
                <li><a href="">Contato</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
            <ul>
                <li><a href="">FAQ</a></li>
                <li><a href="">Envios e Devoluções</a></li>
                <li><a href="">Política da Loja</a></li>
                <li><a href="">Pagamentos</a></li>
            </ul>
            <ul>
                <li><a href="">jaquelinerodrigues@gmail.com</a></li>
                <li>Rua Principal S/N</li>
                <li>Imperatriz-MA - 65909-001</li>
                <li>Tel: (99) 981126621</li>
            </ul>
            <h5>Jaqueline Rodrigues</h5>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>