{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials\_header.html' %}

    <main>
        <div class="subtitulo">
            <p id="subtitulo-p1">Viva intensamente.</p>
        </div>
        <section class="imgs-home">
            <div class="coluna-1">
                <div class="produto-1">
                    <img src="{% static 'imgs\foto-1-loja.jpg' %}" alt="">
                    <div class="descricao-produto">
                        <p>Descrição curta</p>
                        <p>R$ 89,90</p>
                    </div>
                </div>
                <div class="produto-2">
                    <img src="{% static 'imgs\foto-2-loja.jpg' %}" alt="">
                    <div class="descricao-produto">
                        <p>Descrição curta</p>
                        <p>R$ 89,90</p>
                    </div>
                </div>
            </div>
            <div class="coluna-2">
                <div class="produto-3">
                    <img src="{% static 'imgs\foto-3-loja.jpg' %}" alt="">
                    <div class="descricao-produto">
                        <p>Descrição curta</p>
                        <p>R$ 89,90</p>
                    </div>
                </div>
                <div class="produto-4">
                    <img src="{% static 'imgs\foto-4-loja.jpg' %}" alt="">
                    <div class="descricao-produto">
                        <p>Descrição curta</p>
                        <p>R$ 89,90</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% include 'partials\_footer.html' %}
{% endblock %}