{% load static %}

{% for produto in produtos %}
    {{ produto.full_name|upper }}<br>
{% endfor %}

<span class="step-links">
    <span class="current">
        Página {{ produtos.number }} de {{ produtos.paginator.num_pages }}.
    </span>

    {% if produtos.has_previous %}
        <a href="?page=1">&laquo; primeira</a>
        <a href="?page={{ produtos.previous_page_number }}">anterior</a>
    {% endif %}

    {% if produtos.has_next %}
        <a href="?page={{ produtos.next_page_number }}">próxima</a>
        <a href="?page={{ produtos.paginator.num_pages }}">última &raquo;</a>
    {% endif %}
</span>
